.container {
    display: flex;
    height: 80%;
    width: 80%;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.2), 0px 2px 2px 0px rgba(255, 255, 255, 0.14), 0px 1px 5px 0px rgba(255, 255, 255, 0.12);
    background-color: #FFF;
}

.splash {
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    background: url('../img/paisagem.jpg');
}

button {
    background-color: rgb(57, 16, 168);
    color: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    padding: .9vh 1.3vw;
    align-items: center;
}

#google-button i {
    line-height: 1.75;
    font-size: 1.5rem;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(41, 15, 114);
}

.form-control label {
    font-family: 'Roboto' sans-serif;
    color: #191920;
}

form {
    width: 70%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.buttons>* {
    margin: 1rem 0px;
}

.form-control {
    color: #FFF;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

.form-control input {
    padding: 1.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 2px;
    border: none;
}

#about icon {
    margin-right: 10px;
}

.bash {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
    color: white;
}

form h1 {
    margin: 3rem 0;
    font-size: 8.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: #191920;
}