.container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    width: 100%;
    height: 100%;
}

.splash {
    width: 100%;
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    background: url('../img/paisagem.jpg');
}

.form-control label {
    font-family: 'Roboto' sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    padding: 1rem 0;
}

.buttons>* {
    margin: 1rem;
}

.form-control {
    color: #FFF;
    font-size: 3rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

.form-control input {
    padding: 1.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 2px;
    border: none;
}

#about icon {
    margin-right: 10px;
}

.bash {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgb(57, 16, 168);
    color: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    padding: .9vh 1.3vw;
    align-items: center;
    justify-content: center;
}

#google-button i {
    line-height: 1.75;
    font-size: 1.5rem;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(41, 15, 114);
}

.whrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

form h1 {
    font-family: 'Roboto', sans-serif;
    margin: 3rem 0;
}