@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #191920;
    -webkit-box-shadow: inset 0 0 6px rgba(163, 163, 163, 0.5);
}

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #191920;
    width: 100%;
    height: 100%;
}

body,
input,
button {
    font: 14px sans-serif;
}

button {
    cursor: pointer;
}