@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
    position: relative;
    width: 90vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    background-color: #141419;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.form-group label {
    font-weight: bold;
    color: #fff;
    font-size: 2vw;
}

.form-group input {
    margin-top: 20px;
    width: 100%;
    padding: 2%;
}

.form-group input::placeholder {
    font-size: 1vw;
}

.container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 80%;
    margin: 5% 0;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #191920 url("../img/Caminho4.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container form button {
    grid-column: 1/3;
    margin: 5% 30%;
    background-color: #03da6c;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    padding: 2% 0;
    border: solid 1px #707070;
    border-radius: 30px;
    transition: 0.2s;
}

.container form button:hover {
    background-color: #02984b;
}

footer {
    display: flex;
    font-size: 2vw;
    margin: 0 5%;
    bottom: 10px;
    position: absolute;
    color: #fff;
    align-self: flex-end;
    justify-self: end;
}

h1 {
    font-size: 3vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
}

#objetive-humidity {}

#flow-rate {}

#solo-description {
    grid-column: 1/3;
}

#solo-coefficient {
    grid-column: 1/3;
}

#name {
    grid-column: 1/3;
}

@media (max-width: 768px) {
    .container form {
        display: flex;
        flex-direction: column;
    }
}