.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #141419;
    padding: 1%;
    box-shadow: 0 2px 4px 0 rgba(58, 58, 58, 0.2);
}

.nav .sub-menu {
    right: 0%;
    top: 100%;
    background-color: #141420fa;
    border-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
    z-index: 3000;
    display: none;
    padding: 0;
    position: absolute;
    width: 100%;
    transition: all 2s;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 70%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #141420ea;
}

.nav .profile:hover>.sub-menu {
    display: flex;
    padding: 10%;
    width: 110%;
}

.nav a {
    text-decoration: none;
}

.nav #logo {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 2vw;
}

.nav #profile {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 5rem;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    color: #fff;
}

.nav img {
    width: 50px;
    height: 50px;
    border: solid 1px #707070;
    border-radius: 50%;
    margin-left: 5%;
}

@media (max-width: 720px) {
    .nav img {
        width: 50px;
        height: 50px;
        border: solid 1px #707070;
        border-radius: 50%;
        margin-left: 5%;
    }
}

.nav .profile {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.nav .profile ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav .profile ul li {
    font-size: 3rem;
    margin: .5rem;
    color: #FFF;
}

.nav .profile ul li a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
}

.nav .profile ul li a:hover {
    border-bottom: 1px solid #FFF;
}

.nav .profile ul li a i {
    font-size: 3rem;
    margin-right: 2rem;
}