.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #141419;
    padding: 1%;
    box-shadow: 0 2px 4px 0 rgba(58, 58, 58, 0.2);
}

.nav a {
    text-decoration: none;
}

.nav #logo {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 2vw;
}

.nav #profile {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    color: #fff;
}

.nav img {
    width: 50px;
    height: 50px;
    border: solid 1px #707070;
    border-radius: 50%;
    margin-left: 5%;
}

@media (max-width: 720px) {
    .nav img {
        width: 50px;
        height: 50px;
        border: solid 1px #707070;
        border-radius: 50%;
        margin-left: 5%;
    }
}

.nav .profile {
    position: relative;
}