.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #141419;
    padding: 1% 3%;
    box-shadow: 0 2px 4px 0 rgba(58, 58, 58, 0.2);
}

.nav .sub-menu {
    right: 0%;
    top: 130%;
    background-color: #141420fa;
    border-radius: 1px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
    z-index: 3000;
    display: none;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    position: absolute;
    width: 120%;
    opacity: 30%;
    transition: opacity 2s ease-in-out;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 93%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffffea;
}

.sub-menu.active {
    display: flex;
    opacity: 100%;
}

.nav a {
    text-decoration: none;
}

.nav #logo {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 2vw;
}

.nav #clickToOpenMenu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    font-size: 2vw;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#clickToOpenMenu:hover {
    cursor: pointer;
}

.nav img {
    width: 50px;
    height: 50px;
    border: solid 1px #707070;
    border-radius: 50%;
    margin-left: 5%;
}

@media (max-width: 720px) {
    .nav img {
        width: 30px;
        height: 30px;
        border: solid 1px #707070;
        border-radius: 50%;
        margin-left: 5%;
    }
}

.nav .profile {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.nav .profile ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav .profile ul li {
    font-size: 3rem;
    color: #FFF;
}

.profile span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav .profile ul li a {
    padding: 3rem 2.5rem;
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav .profile ul li+li>a {
    padding: 1rem 5rem;
}

.nav .profile ul li a:hover {
    background-color: rgba(255, 255, 255, 0.308);
}

.nav .profile ul li a i {
    font-size: 3rem;
    margin-right: 2rem;
}

.nav .profile ul li a img {
    margin-right: 2rem;
}

.nav .profile ul li .email-dm {
    font-size: 3rem;
}

.nav .profile ul li .email-dm div+div {
    font-size: 1.5rem;
}