:root {
    --percent: 0;
}

.container {
    position: relative;
    width: 80vw;
    margin-top: 5vh;
    display: flex;
    height: 150vh;
    flex-direction: column;
    background-color: #141419;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
    align-items: center;
}

.container h1 {
    margin-top: 5rem;
    font-size: 5vw;
    color: #fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

.container .green {
    width: 1em;
    height: 1em;
    background-color: #03DA6C;
}

.container .blue {
    width: 1em;
    height: 1em;
    background-color: #2316AC;
}

.container .circle {
    background: rgb(51, 51, 146);
    width: 90em;
    height: 90em;
}

.container svg {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #2316AC;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.card circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--percent)) / 100);
    stroke: #03DA6C;
}

.main-graph {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main-graph .card {
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.main-graph .card:hover {
    transform: translateY(-10px);
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.container #logo {
    width: 100%;
    height: 30%;
    overflow: hidden;
}

.container #logo img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .number h2 {
    color: #fff;
    font-size: 60px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
}

.content {
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40% 10%;
}

.content span:nth-child(3) {
    border-top: 1px solid #FFF;
    grid-column: 1/3;
}

.legend span {
    display: flex;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    margin-left: 10%;
}

.legend span>div {
    margin-right: 1rem;
    box-shadow: 0 5px 20px 0 rgba(75, 75, 75, 0.295);
    border-radius: 5px;
}

.legend {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px 0 rgba(3, 3, 3, 0.6);
    color: #fff;
    background-color: #101010;
    width: 60%;
    height: 20vh;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
    font-size: 3vw;
}

.full-graph {
    background: #03DA6C;
    width: 100%;
    height: 100%;
}