.plantations-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    list-style: none;
    position: relative;
}

body {
    background: #191920 url("../img/Caminho4.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

@media (max-width: 768px) {
    .plantations-list {
        display: flex;
        flex-direction: column;
    }
}

.plantations-list li a {
    font-family: 'Roboto', sans-serif;
    position: relative;
    justify-content: space-between;
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding-bottom: 3rem;
    text-decoration: none;
    text-align: center;
}

.plantations-list li {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 370px;
    justify-content: space-between;
    background-color: #075324;
    font-size: 10em;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.39);
    transition: box-shadow 0.2s;
}

.label-name {
    width: 100%;
}

.plantations-list li:hover {
    box-shadow: 0 10px 20px 0 rgba(37, 8, 117, 0.897);
}

.plantations-list li a .name {
    font-size: 3rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.507);
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
}

.plantations-list li a span::before {
    content: ' ';
    display: inline-block;
    width: 7px;
    left: 10%;
    height: 7px;
    border: 1px solid #000;
    margin-bottom: 1%;
    margin-right: 15px;
    border-radius: 7px;
    transition: background-color .2s ease-in-out;
}

.plantations-list li a span .on::before {
    background-color: #94E185;
    border-color: #78D965;
    box-shadow: 0px 0px 4px 1px #94E185;
}

.plantations-list li a span .issued::before {
    background-color: #FFC182;
    border-color: #FFB161;
    box-shadow: 0px 0px 4px 1px #FFC182;
}

.placeholded::after {
    background-color: #fff;
    content: '+';
    right: 0;
    bottom: 2%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    width: 15%;
    height: 15%;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}

.plantations-list li a span .off::before {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0px 0px 4px 1px #C9404D;
}

.plantations-list li img {
    width: 100%;
    height: 250px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFF;
}

#add {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: sticky;
    position: absolute;
    bottom: -40px;
    right: 30px;
    border: 1px solid #191920;
    background-color: #141419;
    font-size: 2rem;
    z-index: 2000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
}

.plantations-list li a span {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 100%;
    font-size: 110%;
}