<link rel="stylesheet" href="/public/css/imageInput.css">
<div class="input-image">
  <input name="file" onchange="changeInputImage(this)" class="image" id="image" type="file" accept="image/*" />
  <img src="{{placeholder}}" id="img-placeholder" alt="placeholder">
</div>
