<link rel="stylesheet" href="/public/css/nav.css">
<div class="nav">
  <a href="/" id="logo">Smart Plantation</a>
  <div id="clickToOpenMenu" class="profile">
    <span class="fb-username">...</span>
    <img class="photo-avatar" src="http://www.darylroththeatre.com/wp-content/uploads/2018/10/avatar-placeholder.png"
      alt="">
    <div class="sub-menu">
      <ul>
        <li><a href="/user">
            <img class="photo-avatar"
              src="http://www.darylroththeatre.com/wp-content/uploads/2018/10/avatar-placeholder.png" alt="">
            <div class="email-dm">
              <div class="fb-username">...</div>
              <div class="fb-email">...</div>
            </div>
          </a></li>
        <li><a href="/create-plantation">
            <i class="fas fa-cannabis"></i>Cadastrar plantação</a></li>
        {{!-- <li><a href=""></a></li> --}}
        <li><a href="/logout">
            <i class="material-icons">exit_to_app</i>Sair</a></li>
      </ul>
    </div>
  </div>
</div>
<script src="/public/js/nav.js"></script>
