<link rel="stylesheet" href="/public/css/nav.css">
<div class="nav">
  <a href="/" id="logo">Smart Plantation</a>
  <div class="profile">
    <a href="/hydricResources" id="profile">
      <span>Plantação Colheita Feliz</span>
      <img src="../public/img/paisagem.jpg" alt="">
    </a>
    <div class="sub-menu">
      <ul>
        <li><a href="/user">
            <i class="material-icons">account_circle</i>Meus Dados
          </a></li>
        <li><a href="/create-plantation">
            <i class="fas fa-cannabis"></i>Cadastrar plantação</a></li>
        <li><a href=""></a></li>
        <li><a href="/logout">
            <i class="material-icons">exit_to_app</i>Sair</a></li>
      </ul>
    </div>
  </div>
</div>
