<link rel="stylesheet" href="/public/css/nav.css">
<div class="nav">
  <a href="/" id="logo">Smart Plantation</a>
  <div class="profile">
    <a href="/hydricResources" id="profile">
      <span>Plantação Colheita Feliz</span>
      <img src="../public/img/paisagem.jpg" alt="">
    </a>
  </div>
</div>
