<link rel="stylesheet" href="/public/css/createUsers.css" media="(min-width: 768px)">
<link rel="stylesheet" href="/public/css/createUsersMobile.css" media="(max-width: 768px)">
<title>Cadastro de usuário</title>
<div class="whrapper">
  <div class="container">
    <div class="splash">
      <h1>Smart Plantations</h1>
    </div>
    <div class="bash">
      <form enctype="multipart/form-data" id="formulario" action="/users" method="post">
        <h1>SignUp</h1>
        {{>imageInput placeholder="http://www.darylroththeatre.com/wp-content/uploads/2018/10/avatar-placeholder.png"}}
        <link rel="stylesheet" href="/public/css/signUp.css">
        <div class="form-control">
          <label for="name">Name</label>
          <input placeholder="insira o seu nome" id="name" name="name" type="text">
        </div>
        <div class="form-control">
          <label for="email">Email</label>
          <input placeholder="insira o seu email" id="email" name="email" type="email">
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input placeholder="insira sua senha" id="password" name="password" type="password">
        </div>
        <p>
          Já possui uma conta? <a href="/login">clique aqui</a> e entre.
        </p>
        <div class="buttons">
          <button id="about">
            <icon class="material-icons">error</icon>
            sobre
          </button>
          <button id="google-button"><i class="fab fa-google"></i>Login Com o Google</button>
          <button id="create-user" type="submit">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/public/js/authentication.js"></script>
<script src="/public/js/imageInput.js"></script>
