<link rel="stylesheet" href="/public/css/hydricResources.css">
<title>Hydric resources</title>
{{>nav}}
<div class="container">

  <span>Recursos Hidricos</span>

  <form action="/" method="post">
    <div id="objetive-humidity" class="form-group">
      <label for="">Humidade Objetiva do Solo (%)</label>
      <input placeholder="INSIRA AQUI O VALOR DA HUMIDADE OBJETIVA" type="text">
    </div>
    <div id="flow-rate" class="form-group">
      <label for="">Vazão CM³</label>
      <input placeholder="INSIRA AQUI O VALOR DA HUMIDADE OBJETIVA" type="text">
    </div>
    <div id="solo-description" class="form-group">
      <label for="">Insira uma Descrição do seu solo</label>
      <input placeholder="INSIRA UMA PEQUENA DESCRIÇÃO" type="text">
    </div>
    <div id="solo-coefficient" class="form-group">
      <label for="">Coeficiente de Tipo de Solo</label>
      <input placeholder="INSIRA AQUI O COEFICIENTE GERADO PELA INSTRUÇÃO DO TECNICO" type="text">
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>
