<link rel="stylesheet" href="../public/css/index.css">
<title>Smart Plantation</title>

<h1>
  Cadastre sua plantação
</h1>
<div class="container">
  <form enctype="multipart/form-data" id="form" action="./plantations" method="POST">
    <div class="input-image">
      <input name="file" onchange="changeInputImage(this)" class="image" id="image" type="file" accept="image/*" />
      <img src="../public/img/paisagem.jpg" id="img-placeholder" alt="placeholder">
    </div>
    <div id="name" class="form-group">
      <label for="">Nome da plantação</label>
      <input name="name" required placeholder="INSIRA O NOME AQUI" type="text">
    </div>
    <div id="objetive-humidity" class="form-group">
      <label for="">Humidade Objetiva do Solo (%)</label>
      <input required name="objective_humidity" min="0" type="number"
        placeholder="INSIRA AQUI O VALOR DA HUMIDADE OBJETIVA" type="text">
    </div>
    <div id="flow-rate" class="form-group">
      <label for="">Vazão CM³</label>
      <input required min="0" name="flow_rate" type="number" placeholder="INSIRA AQUI O VALOR DA HUMIDADE OBJETIVA"
        type="text">
    </div>
    <div id="solo-description" class="form-group">
      <label for="">Insira uma Descrição do seu solo</label>
      <input required name="field_description" placeholder="INSIRA UMA PEQUENA DESCRIÇÃO" type="text">
    </div>
    <div id="solo-coefficient" class="form-group">
      <label for="">Coeficiente de Tipo de Solo</label>
      <input required name="solo_type_coeficient" min="1" max="6" type="number"
        placeholder="INSIRA AQUI O COEFICIENTE GERADO PELA INSTRUÇÃO DO TECNICO" type="text">
    </div>
    <button type="submit">Cadastrar</button>
  </form>
  <footer>
    <span>Torne sua plantação mais inteligente</span>
  </footer>
  <script>
    const b = JSON.parse('{{{name}}}');
    console.log(b);
  </script>
  <script src="/public/js/plantation.js"></script>

</div>
