<body>
  <div class="toast-container" id="toast-container" data-icons="error">
    <button id="toast-controller" onclick="toast('ola', 'error')">Toast</button>
  </div>

  <script src="../public/js/toast.js"></script>
</body>
